body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'Hiragino Sans GB', 'Noto Sans', 'Microsoft JhengHei', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif, serif ,cursive, fantasy,monospace;
	border-top:50px solid #2D2D2D;
	background-color: #F1F1F1;

}
#top-divider {
	height: 5px;
	background-color: #8AC6D1;
}

#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f1f1f1;
}

@media screen and (min-width: 600px) {
  .form-header-appy-black {
    float: left;
    width: 100px;
  }
  div.form-header-artificial-person{
    width: 40px;
    float: left;
    margin-left: 10px;
    height: 100px;
  }
  p.form-header-artificial-person {
    line-height: 20px;
    margin-top: 30px;
    font-size: 20px;
  }
  div.span {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    margin-left: 10px;
  }
  div.form-header-title {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .form-header-appy-black {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 20px;
  }


  div.form-header-artificial-person{
    width: 24px;
    float: left;
    margin-right: 0px;
    height: 48px;
    text-align: right;
  }
  p.form-header-artificial-person {
    line-height: 12px;
    font-size: 12px;
    text-align: right;

  }
  div.form-header-title {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    font-size: 30px;
    text-align: center;
  }
  span.form-header-title-appy {
    display: block;
  }
  .form-header{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 80px;
  }
}
.form-header-title {
  font-family: PMingLiU, DFKai-sb, Arial, '新細明體', sans-serif;
}

h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
}

.section-text {
	margin-bottom: 1em;
}

.section-text table {
	background-color: #ECEBEC;
	border-collapse: separate;
	width: 100%;
	border-spacing: 0px;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #fff;
}

.section-text tr {
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #fff;
	color: #5f8ad1;
	padding-top:  0.5em;
}

.section-text th {
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #c9c9c9;
	border-right:none;
	border-left: none;
	font-weight: bold;
	height: 3em;
}

.section-text td {
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #c9c9c9;
	border-right:none;
	border-left: none;
	text-align: center;
	height: 3em;
}

input[type=checkbox].css-checkbox {
position:absolute; z-index:-1000; left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox, label.css-label {
	padding-left:27px;
	height:22px;
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size: 1.2em;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -22px;
}

label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_5f214b3863887e4bfa23c9dbc34339ae.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: 1px;
}


#footer {
	width: 100%;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	color: #BCBCBC;
	background-color: #2e2e2e;
	vertical-align:middle;
	text-align: center;
}

@media (min-width: 1200px) {
	#container {
		width: 80%;
		padding: 2em 1em 2em 1em;
	}
}

@media (min-width: 1600px) {
	#container {
		width: 55%;
		padding: 2em 0em 2em 0em;
	}
}

hr {
  border-top-color: #d6d6d6;
  border-bottom-color: #ececec;
  border-style: solid;
  border-left: 0px;
}

h2 {
  /*font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;*/
  /*font-family: "Bookman", Georgia, "Times New Roman", serif;*/
  /*font-family: "Helvetic Neue", Helvetica, Arial;*/
  /*font-family: "Noto Sans", sans-serif;*/
  /*font-family: 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'Hiragino Sans GB', 'Noto Sans', 'Microsoft JhengHei', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif, serif , cursive, fantasy, monospace;*/
  /*font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue";*/
  /*, "Nimbus Sans L"", Arial, "Liberation Sans";*/
  /*, 'Hiragino Sans GB', 'Noto Sans', 'Microsoft JhengHei', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif, serif , cursive, fantasy, monospace;*/
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'ST Heiti', Arial, sans-serif;
}

ol.custom {
  list-style-type: none;
  padding-left: 0px;
}
ol.custom > li {
  counter-increment: customlistcounter;
}
ol.custom > li:before {
  display: inline-block;
  content: "( "counter(customlistcounter) " )";
  width: 2em;
  /*margin-left: -2em;*/
}


tr td {
  border-top:2px solid #c9c9c9;border-bottom:3px solid #fff;
}
table {
  background-color: #ECEBEC;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0px;
}
th {
  border-top: 1px solid #ffffff;border-bottom:1px solid #c9c9c9;border-right:none;border-left: none;
}
tr {
  border-top:1px solid #c9c9c9;border-bottom:1px solid #fff; color: #5f8ad1
}

input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  display:inline-block;
  background-repeat:no-repeat;
  background-position: 0 0;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -22px;

}
label.css-label {
  /*background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_5f214b3863887e4bfa23c9dbc34339ae.png);*/
  background-image:url('../img/checkbox.png');
  background-size: 22px 44px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

.apply-list-goods {
  background-color: #ffffff;border-radius: 15px;height: 200px;padding: 3px 8px 3px 8px;margin-right: 8px;
  font-family: BellMT, "Times New Roman", Times, serif ;
}

.text-container {
  width: 90%; margin-left: auto;margin-right: auto;
}

.footerContent {
  width: 1000px;margin-left: auto;margin-right: auto;display:table;width: inherit;height: inherit;
}

footer {
  background-color: #2e2e2e; color: #BCBCBC; height: 100px;vertical-align:middle;text-align: center
}

p.foot-p {
  vertical-align:middle;display:table-cell;vertical-align: middle;
}

.submit-button-div {
  text-align: center;
}

input.submit {
  height: 50px;
  background-color: #4cade0;border: 0px;border-radius: 2px;color: white;font-size: 20px;
  padding-left: 100px;
  padding-right: 100px;
  -webkit-appearance: none;
}

input[type="submit"]:hover{
  background-color:#3288b5;
}

@media screen and (max-width: 600px) {
  input.submit {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}




@media screen and (min-width: 600px) {
  .span1-2 {
    /*border-radius: 20px;background-color: #70C3CF;border: 1px solid #fff;padding: 10px 35px 10px 40px;*/
    border-radius: 20px;background-color: #77CEDB;border: 1px solid #fff;padding: 10px 30px 10px 0px;
  }
  .span3-4 {
    border-radius: 20px;background-color: #40909B;border: 1px solid #fff;padding: 10px 50px 10px 0px;
  }
  #sapn-1 {
    border-radius: 20px;background-color: #8cd8e4;border: 1px solid #fff;padding: 10px 125px 10px 40px;margin: 0px 50px 0px 90px;
    /*border-radius: 20px;background-color: #60B1BC;  border: 1px solid #fff;padding: 10px 30px 10px 40px;margin: 0px 50px 0px 0px;*/
  }
  #span-3 {
    border-radius: 20px;background-color: #60B1BC;border: 1px solid #fff;padding: 10px 30px 10px 40px;margin: 0px 50px 0px 0px;
  }
  #span-3-new {
    border-radius: 20px;background-color: #8CD9E4;border: 1px solid #fff;padding: 10px 130px 10px 40px;margin: 0px 50px 0px 0px;
  }
  .div-1-2 {
    margin: 20px 20px 20px 20px;
  }
  .div-3-4 {
    margin: 40px 20px 20px 20px;
  }
}
@media screen and (max-width: 600px) {
  #span-3-new {
    border-radius: 20px;
    background-color: #8CD9E4;
    border: 1px solid #fff;
    padding: 5px 5px 5px 5px;
    display: block;
    font-size: 10px;
  }

  #span-2 {
    border-radius: 20px;
    background-color: #77CEDB;
    border: 1px solid #fff;
    padding: 5px 5px 5px 5px;
    display: block;
    font-size: 10px;
  }

  #span-3 {
    border-radius: 20px;
    background-color: #60B1BC;
    border: 1px solid #fff;
    padding: 5px 5px 5px 5px;
    display: block;
    font-size: 10px;
  }

  #span-4 {
    border-radius: 20px;
    background-color: #4295A1;
    border: 1px solid #fff;
    padding: 5px 5px 5px 5px;
    display: block;
    font-size: 10px;
  }

  .div-1-2 {
    margin: 0px 20px 20px 20px;
  }

  .div-3-4 {
    margin: -40px 20px 20px 20px;
  }
}
